header {
    width: 100%;
    height: 80px;
    margin: auto;
    padding: 15px 0px;
}

header .headerSearch {
    width: 100%;
    height: 60px;
    border: 1px solid #3bb77e;
    padding: 10px 20px;
    display: flex;
}

header .headerSearch .search {
    width: 80%;
    padding-left: 30px;
    position: relative;
}

header .headerSearch .selectDrop {
    width: 20%;
    font-size: 16px;
    font-weight: 500;
    position: relative;
}

header .headerSearch .selectDrop::after {
    content: ' ';
    width: 1px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 0px;
    right: 0px;
}

header .headerSearch .search input {
    width: 100%;
    height: 50px;
    border: 0px;
    outline: none !important;
    font-size: 18px;
}

header .headerSearch .search .searchIcon {
    position: absolute;
    top: 12px;
    right: 7px;
    opacity: 0.5; 
    font-size: 24px !important; 
    
    cursor: pointer; }
